.Button{
  padding: 9px 13px;
  cursor: pointer;
  background: #1bb46d;
  border: 1px solid #1bb46d;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  border: 1px solid transparent;
  text-decoration: none;
  margin-right: 30px;
  // margin: 0 30px;
}

.successOutline{
  background-color: transparent;
  border: 1px solid #1bb46d;
  &:hover, &:active{
    background-color: #1bb46d;
  }
}

.secondaryOutline{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  &:hover, &:active{
    background: white;
    border: 1px solid white;
    color: black
  }
}