body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}
.container{
    text-align: center;
}
.Layout{
    ul{
        list-style: none;
        li{
            a{
                text-decoration: none;
            }
        }
    }
}