body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}
.container{
    margin-left: 100px;
    margin-right: 100px;
}
.Layout{
    ul{
        list-style: none;
        li{
            a{
                text-decoration: none;
            }
        }
    }
}