.Estudio {
  background: white;
}
.Cards {
  width: 100%;
  display: flex;
  justify-content: center;

  .card {
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.3);
    border-radius: 20px;
    margin: 15px;
    text-align: center;
    width: 350px;
    .description {
      padding: 10px;
      h4 {
        margin: 5px;
      }
      p {
        margin: 5px;
        font-size: 0.8rem;
      }
    }
    .icons{
      text-align: center;
      border-top: 1px solid rgba($color: #000000, $alpha: 0.05);
      padding: 15px;
      a{
        color: black;
        display: inline;
        margin: 10px;
        cursor: pointer
      }
    }
  }
}
