.ContactForm {
  background: white;
  width: 100%;
  border-radius: 20px;
  // box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.3);
  max-width: 600px;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  div {
    text-align: left;
    margin: auto;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    * {
      font-family: "Lato", sans-serif;
      margin: 5px 0;
      display: block;
    }
    
    input {
      // border-radius: 5px;
      outline: none;
      border: none;
      border-bottom: 1px solid rgba($color: #353535, $alpha: 0.5);
      padding: 3px;
      &:focus {
        border-bottom: 1px solid rgba($color: #1ddb82, $alpha: 1);
        transition: all ease-out .6s;
      }
    }
  }
}
