.Header {
  margin: 0;
  nav {
    width: 500px;
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      li {
        margin: 0;
        padding: 0;
        a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.6);
          &[aria-current = "page" ] {
            color: black;
          }
        }
      }
    }
  }
}
