.Header {
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #303535;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  nav {
    display: flex;
    width: 30%;
    margin: 0;
    ul {
      padding: 0;
      width: 100%;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      li {
        margin: 0;
        padding: 0;
        a {
          text-decoration: none;
          color: rgb(180, 180, 180);
          &[aria-current="page"],
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

// .attached {
//   background-color: transparent;
//   text-transform: uppercase;
//   a {
//     color: black;
//   }
// }
