.Header {
  z-index: 2;
  box-sizing: border-box;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #303535;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  transition: all 0.3s ease-out;
  nav {
    display: flex;
    width: 40%;
    margin: 0;
    ul {
      padding: 0;
      width: 100%;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      li {
        margin: 0;
        padding: 0;
        a {
          font-size: 13px;
          font-family: "Lato", sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          color: rgb(180, 180, 180);
          &[aria-current="page"],
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.hamburger {
  z-index: 4;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 55px;
  width: 55px;
  display: none;
  flex-direction: column;
  div {
    transition: all 0.4s ease-out;
    margin: auto;
    height: 2px;
    width: 30px;
    background: white;
    position: relative;
    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 30px;
      background: white;
      position: absolute;
      top: -10px;
    }
    &::after {
      top: 10px;
    }
  }

  // border-left: 1px solid rgba(0, 0, 0, 0.192);
}

.close {
  div {
    z-index: 3;
    transform: rotate(45deg);
    background: black;
    &::before {
      z-index: 3;
      top: 0;
      background: black;
    }
    &::after {
      z-index: 3;
      top: 0;
      background: black;
      transform: rotate(90deg);
    }
  }
}

.logo, .logoMini{
  margin-right: auto;
  display: flex;
  align-items: center;
}
.logoMini{
  display: none;
  margin: auto;
}

.attached {
  height: 90px;
  background-color: transparent;
  a {
    color: black;
  }
}

@media (max-width: 1500px) {
  .Header {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 1320px) {
  .Header {
    padding-left: 5%;
    padding-right: 5%;
    nav {
      width: 50%;
    }
  }
}

@media (max-width: 750px) {
  .Header{
    nav{
      display: none;
    }
  }
  .Header,
  .attached {
    background-color: #303535;
    height: 55px;
    padding: 0;
  }
  .hamburger{
    display: flex;
  }
  .logo{
    display: none;
  }
  .logoMini{
    display: flex;
  }

}
