@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
}
// body{
//   width: 100vw;
//   overflow-x: hidden;
// }

.greyContainer {
  background-color: #eee;
  width: 100%;
  margin: 0;
  padding: 50px 15%;
  // padding-left: 15%;
  // padding-right: 15%;
  box-sizing: border-box;
}

.container {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 50px 15%;
  // padding-left: 15%;
  // padding-right: 15%;
  box-sizing: border-box;
}

@media (max-width: 1500px) {
  .greyContainer,
  .container {
    padding: 50px 10%;
  }
}

@media (max-width: 1320px) {
  .greyContainer,
  .container {
    padding: 50px 5%;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -5px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 5px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 5px;
}



.image-overlay:hover {
  opacity: .5;
  cursor: pointer;
}
